$lightYellow: rgba(255, 245, 0, 0.25);
$lightBlack: rgba(0, 0, 0, 0.25);
$red10: #fffbea;
$error: rgb(219, 55, 55);
$yellow: rgb(247, 201, 72);
$lightGray: #e4e7eb;
$black: #1f2933;
$white: #fff;
$darkGray: #52606D;
$success: #31b237;
$danger: #ef4e4e;
$warning: #f7c948;